<li {% if page.path contains 'GettingStarted.md' %} class="active" {% endif %}><a href="./GettingStarted.html">Getting Started</a></li>
<li {% if page.path contains 'Architecture.md' %} class="active" {% endif %}><a href="./Architecture.html">Architecture</a></li>

<ul><div>Core</div>
  <li {% if page.path contains 'AudioVisualizer.md' %} class="active" {% endif %}><a href="./AudioVisualizer.html"><code>&lt;AudioVisualizer&gt;</code></a></li>
  <li {% if page.path contains 'AudioVisualizerUtils.md' %} class="active" {% endif %}><a href="./AudioVisualizerUtils.html"><code>AudioVisualizerUtils</code></a></li>
  <li {% if page.path contains 'AudioVisualizerHooks.md' %} class="active" {% endif %}><a href="./AudioVisualizerHooks.html"><code>AudioVisualizerHooks</code></a></li>
  <li {% if page.path contains 'Types.md' %} class="active" {% endif %}><a href="./Types.html">Types</a></li>
</ul>

<ul><div>Visualizers</div>
  <li {% if page.path contains 'SpectrumVisualizer.md' %} class="active" {% endif %}><a href="./SpectrumVisualizer.html"><code>&lt;SpectrumVisualizer&gt;</code></a></li>
  <li {% if page.path contains 'WaveformVisualizer.md' %} class="active" {% endif %}><a href="./WaveformVisualizer.html"><code>&lt;WaveformVisualizer&gt;</code></a></li>
</ul>
